# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Node
node_modules/
dist/

# Environment
.env
.env.*

# ML Models
*.pth
*.pt
*.onnx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#project
venv/
__pycache__/
*.pyc
db.sqlite3
.env